.nav-link:hover{
    background-color:#408cc2;
}
.isiTotal{
  font-weight: bold;
  font-size: 30px;
}
.card-body-icon{
  position: absolute;
  z-index: 0;
  top:25px;
  right: 4px;
  opacity: 0.4;
  font-size:90px;
}
.display-4{
  font-weight: bold;
}
.display-5{
  font-weight: bold;
}



canvas{
  width:1500px !important;
  height:900px !important;
}
